@{
    ViewData["Title"] = "Users History";
}
@model PizzaCity.Client.Models.OrderViewModel

<h2>@Model.CustomerName</h2>
<form asp-controller="Store" asp-action="UserStore" method="GET">
<input type="text" class ="d-none" asp-for="CustomerName" name ="CustomerName" value="@Model.CustomerName">
<button class="btn btn-danger" tpye="submit">Start New Order</button>
</form>
    
}
